<!DOCTYPE html>
<html lang="en"><head lang="en"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>微电子 - 扬州大学</title>
    <link type="text/css" rel="stylesheet" href="./static/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/static/googleg_lodp.ico">

</head>
<body>
<header>
    <nav class="transparent black-text">
        <div class="nav-wrapper container">
            <a href="http://gaggle.email/" class="brand-logo brand-logo-small"><img id="header-logo" alt="Gaggle Mail Logo" src="./static/images/logo_22x22@2x.png">
                扬州大学 <span>微电子</span></a>
            <meta itemprop="url" content="./">
            <meta itemprop="name" content="yzu">
            <div id="header-mobile-links" class=" row center hide-on-large-only">
                <div class="col s4">
                    <a href="./">About</a>
                </div>
                <div class="col s4">
                    <a href="./">Blog</a>
                </div>
                <div class="col s4">
                <a class="modal-trigger" href="./">Login</a>
                </div>
            </div>
            <ul class="right hide-on-med-and-down">
                <li><a href="./">About</a></li>
                <li><a href="./">Blog</a></li>
                <li><a class="modal-trigger" href="./">Login</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div id="hero" style="height: 697px;">
        <div class="container" id="hero-text-container">
            <div class="row">
                <div class="col s12 center-align">
                    <h1 id="hero-title" itemprop="description" style="font-size: 38px;"><span class="bold">版图设计</span><span class="thin"> using  EDA design tool<br>to design and verify integrated circuits</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="center-align">
                        <a href="./mayforcebewithyou.html" class="btn btn-large create-list-link hero-btn">Get Started <svg style="width:24px;height:24px;top: 6px; position: relative; right: 2px;" viewBox="0 0 24 24">
<path fill="#ffffff" d="M5.59,7.41L7,6L13,12L7,18L5.59,16.59L10.17,12L5.59,7.41M11.59,7.41L13,6L19,12L13,18L11.59,16.59L16.17,12L11.59,7.41Z"></path>
</svg>
</a>                  <a href="./" class="btn btn-large white grey-text hero-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer class="page-footer">

    <div class="footer-copyright">
        <div class="container grey-text">
            © 2016 Copyright
            <span class="right" href="#!">郭鹏飞老师</span>
        </div>
    </div>
</footer>
</script><script src="./static/js/home_all-min.js"></script>
